/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

img {
    width: 100%;
}

h1{
    width: 100%;

    /* DEBUG */
    background-color: aquamarine;
    line-height: 2em;
}

h2{
    background-color: green;
    line-height: 4em;
}

h4{
    width: 100%;
    line-height: 2em;
    text-align: center;
    
    /* DEBUG */
    background-color: aquamarine;
}

.blue-button {
    background-color: rgb(33, 33, 241);
    color: white;
}

.white-button{
    background-color: azure;
}

.col{
    width: calc(100% / 3 - 5%);
    margin-bottom: 40px;
    align-content: space-between;
    
    /* DEBUG */
    min-height: 600px;
    background-color: darkgrey;
    border: 1px solid grey;
}

a{
    color: blue;
    line-height: 2em;
    padding: 2rem;
}

/* UTILITIES */

/* HEADER */
header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    /* DEBUG */
    height: 50px;
    background-color: aqua;
}

.left-nav, .right-nav {
    width: 30%;
    display: flex;
    
    /* DEBUG */
    height: 50px;
    background-color: orange;
}

/* BANNER */
.banner-section{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 50px;
      
      /* DEBUG */
      background-color: cornflowerblue;
      min-height: 500px;
}

.banner-container{
    /* position: relative;*/
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    min-height: 400px;
    background-color: darkcyan;
}


.text-img{
    display: flex;
    width: 100%;
    
    /* DEBUG */
    min-height: 350px;
    background-color: bisque;
}

.text-part, .img-part{
    
    width: calc(100% / 2);

    /* DEBUG */
    border: 1px solid black;
}

/* MAIN */

main{
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    background-color: rgb(183, 138, 225);
    min-height: 1000px;
}

.radio-buttons{
    /* DEBUG */
    width: 100%;
    background-color: darkorange;
    line-height: 4em;

}

.row-choose{
    display: flex;
    justify-content: space-between;
}


.team-text{
    width: 100%;
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    /* DEBUG */
    min-height: 200px;
    background-color: plum;
}

.contatta-vendite{
    width: 75%;

    /* DEBUG */
    min-height: 200px;
    background-color: aqua;
}

.partner-contact{
    display: flex;
    width: 100%;
    
    /* DEBUG */
    min-height: 350px;
    background-color: bisque; 
}

.row-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* /MAIN */
/* BOTTOM-SECTION */
.sponsor{
    width: 100%;
    display: flex;

    /* DEBUG */
    min-height: 400px;
    background-color: crimson;
}

.row-sponsor{
    width: calc(100% / 3);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    
    /* DEBUG */
    min-height: 400px;
}

.col-sponsor{
    width: calc(100% / 2);

    /* DEBUG */
    border: 1px solid grey;
}

.advertising-container{
    width: 100%;
    margin: 0 auto;
   
    display: flex;
    align-items: center;
    justify-content: center;

    /* DEBUG */
    background-color: aquamarine;
}

.bottom{
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    background-color: rgb(183, 138, 225);
    min-height: 800px;
}

.faq{
    width: 80%;
    margin: 0 auto;
    /* DEBUG */
    min-height: 300px;
    background-color: darkorange;
}

.faq-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* fOOTER */

footer{
    width: 100%;
    background-color: black;
    color: white;
    /* DEBUG */
    min-height: 400px;
}

.footer-nav{
    width: 80%;
    display: flex;
    margin: 0 auto;
    /* DEBUG */
    min-height: 400px;
    background-color: rgb(248, 178, 87);

}


ul{
    width: calc(100% / 5);


    /* DEBUG */
    border: 1px solid white;
}