/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
/* UTILITIES */

img {
    width: 100%;
}

h1{
    width: 100%;
    font-size: 5em;
    line-height: 1.5em;
}

.blue-button {
    background-color: rgb(73, 73, 255);
    color: white;
    padding: .3em .8em;
    border-color: rgb(73, 73, 255);
}

.white-button{
    background-color: whitesmoke;
    padding: .8em 1em;
}

.col{
    width: calc(100% / 3 - 3%);
    margin-bottom: 40px;
    align-content: space-between;
    border: 1px solid grey;
}

li a{
    text-decoration: none;
    color: black;
}

ul{
    
    list-style-type: none;
}

hr{
    margin: 2em 0;
}

.fa-check{
    color:blue;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    line-height: 3em;
    background-color:azure;
}

.left-nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;

}
.right-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;
} 

.left-nav ul, .right-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.header-logo-container{
    display: flex;
    align-items: center;
}

.logo-small{
    width: 90%;
}

/* BANNER */
.banner-section{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 50px;
    background-color:rgb(147, 200, 230); 
    height: 750px; 
}

.banner-container{
    width: 70%;
    margin: 0 auto;
}


.text-img{
    display: flex;
    width: 100%;
}

.text-part{
    padding: 1em 0;
    width: 30%;
    margin: 0 auto;
}
.img-part{
    width: 70%;
    position: relative;
}

.fa-arrow-down{
font-size: 3.5em;
}

.jumbo{
    position: absolute;
    top: 23%;
}
.text-part p{
    padding: 3em 0;
}

.plans-presentation{
    line-height: 4em;
    margin-top: 70px;
}
/* MAIN */

/* main{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
} */

.thin-container{
    width: 70%;
    margin: 0 auto;
}

.radio-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    line-height: 4em;
}
.title-plan{
    width: 100%;   
    text-align: center; 
    border-bottom: 1px solid grey;
    line-height: 3em;
}

/* PLANS-CHOICE */
.row-choose-plan{
    display: flex;
    justify-content: space-between;
}

.plan{
    padding: 1.5em;
}

.plan ul{
    padding: 2em 0;
}

.plan ul li{
     display: flex;
     padding: 1em 0;
}

.plan ul p {
    padding-left: 0.5em;
}
.prize p {
    padding-top: 1em;
}

.plan .blue-button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
}

.plan hr{
    width: 30%;
    color: grey;  
}

.team-section .team-title{
    width: 100%;
    line-height: 2em;
    text-align: center;
    border: 1px solid grey;
}
.team-text{
    width: 100%;
    display: flex;
    align-items: flex-start;
    border: 1px solid grey;
}


/* CONTATTA UFFICIO VENDITE */
.contatta-vendite{
    width: 75%;
    padding: 2em;
    line-height: 2em;
}

.contatta-vendite p{
    padding-top: 3em;
    line-height: 1.5em;
}

.vendite-button-container .blue-button{
    position: relative;
    left: 1em;
    top: 2em;
}


/* CONTATTA PARTNERS */
.partner-contact{
    display: flex;
    width: 100%;
    padding: 2em 0;
}

.partner-contact .img-part{
    width: 60%;
}

/* FEATURES-SECTION */


.features h3 {
    padding: 2em 0;
}
.row-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* DISCOVER-CLIENTS-SECTION */

.discover-clients{
    width: 70%;
    font-size: 1.5em;
    padding: 2em 0;
}

.blu-link{
    margin: 1.5em 0 2em 0;
}

.blu-link a{
    font-size: 0.6em;
    color: blue;
    line-height: 4em;
}

/* LOGO-SQUARES */
 .sponsor{
    width: 100%;
    display: flex;


}

.row-sponsor{
    width: calc(100% / 3);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.col-sponsor{
    width: calc(100% / 2);

}

.logo-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.logo-img{
   filter:invert();
   
}

.designit{
    background-color: #a2d39b;
    border: 8px solid rgb(204, 254, 204);
    position: relative;
}
.arizona {
    background-color:#61082b;
    position: relative;
}

.florida{
background-color: #0093ce;
position:relative;
}

.topps{
background-color: #ff1c1c;
position: relative;
}

.world{
    background-color: #d5001f;
    position: relative;
}
.hearst{
    background-color:#b4d0e7 ;
    position: relative;
}
.lonely{
    background-color:#0d2481 ;
    position: relative;
}
.clear{
    background-color:#ffd830 ;
    position: relative;
}

.black-designit{
width: 50%;

}

.central{
    font-size: 0.9em;
    align-content: center;
    padding: .5em 1em;
    
}
.central :last-child{
    padding-top: 2em;
}

.central hr{
    width: 20%;
}

.advertising-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6em;
    background-color:hsl(207deg 52% 81%);
}

.advertising-container h2{
    color: #61082b;
}

.no-border-btn{
    border-style:none;
}


/* .bottom{
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    /* background-color: rgb(183, 138, 225);
    min-height: 800px;
} */ 

.faq{
    
    /* width dovrebbe essere 65% */
    width: 100%;
    margin: 4em auto;
}


.faq-container{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}


/* fOOTER */

footer{
    width: 100%;
    background-color: black;
    color: white;
    /* DEBUG */
    min-height: 400px;
}

.footer-nav{
    width: 80%;
    display: flex;
    margin: 0 auto;
    /* DEBUG */
    min-height: 400px;
    align-content: space-around;

}


footer ul{
    margin-top: 5em;
    width: calc(100% / 5);
    line-height: 3em;
}

/* DEBUG */
footer hr, footer a{
    width: 10%;
    margin: 3em 7em;
    color: white;
    text-decoration: none;

}